.my-class {
  background-color: rgba(226, 213, 213, 0.181);;
  font-size: 20px;
  margin-top: 10px;
}
td button{
  margin: 2px;
}
.minH{
  min-height: 90vh;
}
h1,h2{
  text-align: center;
}
.over{
  overflow: auto;
}
thead{
  position: "sticky";
}
.White{
  color: white;
}